
#slider, #slider1, #slider2, #slider3, #slider4
{
    position: relative;
    width: 50%;
    height: 32vw;
    margin: 80px auto;
    transform-style: preserve-3d;
    font-family: "Helvetica Neue", sans-serif;
    perspective: 1400px;
    display: block; /* Adicionado para garantir que cada slider seja um bloco */
}

input[type="radio"]{
position: relative;
top: 108%;
left: 50%;
width: 18px;
height: 18px;
margin: 0 15px 0 0;
transform: translateX(-83px);
cursor: pointer;
opacity: 0.4;
}


input[type="radio"]:nth-child(5){
margin-right:0px;
}


input[type="radio"]:checked{
opacity: 1;
}

#slider label, #slider1 label, #slider2 label, #slider3 label, #slider4 label,
#slider label img, #slider1 label img, #slider2 label img, #slider3 label img, #slider4 label img
{
display: flex;
position: absolute;
top: 0;
left: 0;
align-items: center;
justify-content:center;
width: 100%;
height: 100%;
border-radius: 3px;
color: white;
font-size: 70px;
font-weight: bold;
cursor: pointer;
transition: transform 400ms ease;
}




/*Activition slide*/
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5{
transform: translate3d(0%, 0, 0px);
box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0,0,0,0.2)
}


/*Activition slide*/
#s6:checked ~ #slide6,
#s7:checked ~ #slide7,
#s8:checked ~ #slide8,
#s9:checked ~ #slide9,
#s10:checked ~ #slide10{
transform: translate3d(0%, 0, 0px);
box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0,0,0,0.2)
}

/*Activition slide*/
#s11:checked ~ #slide11,
#s12:checked ~ #slide12,
#s13:checked ~ #slide13,
#s14:checked ~ #slide14,
#s15:checked ~ #slide15{
transform: translate3d(0%, 0, 0px);
box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0,0,0,0.2)
}

/*Activition slide*/
#s16:checked ~ #slide16,
#s17:checked ~ #slide17,
#s18:checked ~ #slide18,
#s19:checked ~ #slide19,
#s20:checked ~ #slide20{
transform: translate3d(0%, 0, 0px);
box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0,0,0,0.2)
}


/*Activition slide*/
#s21:checked ~ #slide21,
#s22:checked ~ #slide22,
#s23:checked ~ #slide23,
#s24:checked ~ #slide24,
#s25:checked ~ #slide25{
transform: translate3d(0%, 0, 0px);
box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0,0,0,0.2)
}


/*Next Slide*/
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1
{
transform: translate3d(20%, 0, -100px);
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0,0,0,0.2)
}


/*Next Slide*/
#s6:checked ~ #slide7,
#s7:checked ~ #slide8,
#s8:checked ~ #slide9,
#s9:checked ~ #slide10,
#s10:checked ~ #slide6
{
transform: translate3d(20%, 0, -100px);
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0,0,0,0.2)
}

/*Next Slide*/
#s11:checked ~ #slide12,
#s12:checked ~ #slide13,
#s13:checked ~ #slide14,
#s14:checked ~ #slide15,
#s15:checked ~ #slide11
{
transform: translate3d(20%, 0, -100px);
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0,0,0,0.2)
}


/*Next Slide*/
#s16:checked ~ #slide17,
#s17:checked ~ #slide18,
#s18:checked ~ #slide19,
#s19:checked ~ #slide20,
#s20:checked ~ #slide16
{
transform: translate3d(20%, 0, -100px);
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0,0,0,0.2)
}


/*Next Slide*/
#s21:checked ~ #slide22,
#s22:checked ~ #slide23,
#s23:checked ~ #slide24,
#s24:checked ~ #slide25,
#s25:checked ~ #slide21
{
transform: translate3d(20%, 0, -100px);
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0,0,0,0.2)
}



/*Previous Slide*/
#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4
{
transform: translate3d(-20%, 0, -100px);
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0,0,0,0.2)
}


/*Previous Slide*/
#s6:checked ~ #slide10,
#s7:checked ~ #slide6,
#s8:checked ~ #slide7,
#s9:checked ~ #slide8,
#s10:checked ~ #slide9
{
transform: translate3d(-20%, 0, -100px);
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0,0,0,0.2)
}

/*Previous Slide*/
#s11:checked ~ #slide15,
#s12:checked ~ #slide11,
#s13:checked ~ #slide12,
#s14:checked ~ #slide13,
#s15:checked ~ #slide14
{
transform: translate3d(-20%, 0, -100px);
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0,0,0,0.2)
}


/*Previous Slide*/
#s16:checked ~ #slide20,
#s17:checked ~ #slide16,
#s18:checked ~ #slide17,
#s19:checked ~ #slide18,
#s20:checked ~ #slide19
{
transform: translate3d(-20%, 0, -100px);
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0,0,0,0.2)
}


/*Previous Slide*/
#s21:checked ~ #slide25,
#s22:checked ~ #slide21,
#s23:checked ~ #slide22,
#s24:checked ~ #slide23,
#s25:checked ~ #slide24
{
transform: translate3d(-20%, 0, -100px);
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0,0,0,0.2)
}

/*next to next*/
#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2
{
transform: translate3d(40%, 0, -250px);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4)
}


/*next to next*/
#s6:checked ~ #slide8,
#s7:checked ~ #slide9,
#s8:checked ~ #slide10,
#s9:checked ~ #slide6,
#s10:checked ~ #slide7
{
transform: translate3d(40%, 0, -250px);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4)
}



/*next to next*/
#s11:checked ~ #slide13,
#s12:checked ~ #slide14,
#s13:checked ~ #slide15,
#s14:checked ~ #slide11,
#s15:checked ~ #slide12
{
transform: translate3d(40%, 0, -250px);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4)
}

/*next to next*/
#s16:checked ~ #slide18,
#s17:checked ~ #slide19,
#s18:checked ~ #slide20,
#s19:checked ~ #slide16,
#s20:checked ~ #slide17
{
transform: translate3d(40%, 0, -250px);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4)
}


#s21:checked ~ #slide23,
#s22:checked ~ #slide24,
#s23:checked ~ #slide25,
#s24:checked ~ #slide21,
#s25:checked ~ #slide22
{
transform: translate3d(40%, 0, -250px);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4)
}


/*previous to previous slide*/
#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3
{
transform: translate3d(-40%, 0, -250px);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4)
}


/*previous to previous slide*/
#s6:checked ~ #slide9,
#s7:checked ~ #slide10,
#s8:checked ~ #slide6,
#s9:checked ~ #slide7,
#s10:checked ~ #slide8
{
transform: translate3d(-40%, 0, -250px);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4)
}


/*previous to previous slide*/
#s11:checked ~ #slide14,
#s12:checked ~ #slide15,
#s13:checked ~ #slide11,
#s14:checked ~ #slide12,
#s15:checked ~ #slide13
{
transform: translate3d(-40%, 0, -250px);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4)
}

/*previous to previous slide*/
#s16:checked ~ #slide19,
#s17:checked ~ #slide20,
#s18:checked ~ #slide16,
#s19:checked ~ #slide17,
#s20:checked ~ #slide18
{
transform: translate3d(-40%, 0, -250px);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4)
}

/*previous to previous slide*/
#s21:checked ~ #slide24,
#s22:checked ~ #slide25,
#s23:checked ~ #slide21,
#s24:checked ~ #slide22,
#s25:checked ~ #slide23
{
transform: translate3d(-40%, 0, -250px);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4)
}