
#novo_background {
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}

section-rafa
        {
          padding: 50px;
          margin: 50px 75px;
        }

.texto
        {
        text-align: justify;
        font-size: 22pt;
        font-family: Serif;
        margin: 50px 75px;
       }

footer
        {
        text-align: left;
        font-size: 12pt;
        font-family: Serif;
        position: absolute;
        width:100%
        height: 100%;
        }

p
        {
        text-align: justify;
        font-size: 22pt;
        font-family: Serif;
        margin: 50px 75px;
        }


h1, h2
        {
        text-align: justify;
        font-family: Serif;
        margin: 50px 75px;
        font-size: 32pt;
        }

h2
        {
        text-align: justify;
        font-family: Serif;
        margin: 50px 75px;
        font-size: 26pt;
        }

.img_moldura
        {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        border: 1px solid #1b6b6f;
        padding:1px;
        }
 .img_moldura_maior
        {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        border: 1px solid #1b6b6f;
        padding:1px;
        }



header
    {
    background: #b5dea6;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    height: 20%;
    opacity: 80%;
    }


main
    {
    margin-bottom: 200px;
    border-top: 0.4px solid #cce6c1;
    }

#citacao
    {
    text-align: right;
    margin-left: 700px;
    margin-right: 75px;
    font-size: 14pt;
    font-weight: bold;
    }

.contato_e_imagem
    {
    display: flex;
    flex-flow: start;
    align-items: center;
    width: 100%;
    height:100%;
    list-style: none;
    }
#atendente_telefone
    {
    width: 100px;
    margin: 30px;
    }

#img_email
    {
    width: 100px;
    margin: 30px;
    }

#img_localizacao
    {
    width: 100px;
    margin: 30px;
    }

#img_horario_funcionamento
{
width: 100px;
margin: 30px;
}



body
    {
    animation: transitionIn 0.75s;
    }

@keyframes transitionIn   {
        from        {
        opacity: 0;
        transform: translateY(-50px);
        }
        to
        {
        opacity: 1;
        transform: translateY(0);
        }
    }

.return a
    {
    text-decoration: none;
    color: #000000;
    margin: 50px 75px;
    font-size: 22pt;
    font-family: Serif;

    }

.footer-elements
    {
    display:flex;
    flex-direction: column;
    }

hr
    {
    border: 0;
    border-top: 1px solid #094CFA;

     }
.contato_e_imagem a::before {
    content: "• ";  /* Insere a "bolinha" antes do texto do link */
    color: inherit; /* A cor da "bolinha" será a mesma do texto do link */
    font-size: 20pt;
    font-family: Serif;
}

.contato_e_imagem a {
    color: inherit;
    text-decoration: none;
    font-size: 20pt;
    font-family: Serif;
}

.contato_e_imagem a:hover {
    color: blue;
    font-size: 24pt;

}



.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 80vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}

.box > span {
  font-size: 1.5vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover {
  flex: 1 1 50%;
}

.box:hover > img {
  width: 50%;
  height: 50%;
}
.iframe-youtube{
  position: relative;
  width: 100%;
  padding-bottom: 20%;
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.font-cinzel * {
    font-family: 'Cinzel', serif;
}

section.font-cinzel h2 + p::first-letter {
    font-size: 5em;
    float: left;
    margin-right: 0.1em;
    line-height: 0.9em;
    font-style: italic;
}






