

section-rafa
        {
          padding: 50px;
          margin: 50px 75px;
        }

.texto
        {
        text-align: justify;
        font-size: 22pt;
        font-family: Serif;
        margin: 50px 75px;
       }

footer
        {
        text-align: left;
        font-size: 12pt;
        font-family: Serif;
        position: absolute;
        width:100%
        height: 100%;
        }

p
        {
        text-align: justify;
        font-size: 22pt;
        font-family: Serif;
        margin: 50px 75px;
        }


h1, h2
        {
        text-align: justify;
        font-family: Serif;
        margin: 50px 75px;
        font-size: 32pt;
        }

h2
        {
        text-align: justify;
        font-family: Serif;
        margin: 50px 75px;
        font-size: 26pt;
        }

.img_moldura
        {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        border: 1px solid #1b6b6f;
        padding:1px;
        }
 .img_moldura_maior
        {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        border: 1px solid #1b6b6f;
        padding:1px;
        }



header
    {
    background: #b5dea6;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    height: 20%;
    opacity: 80%;
    }


main
    {
    margin-bottom: 200px;
    border-top: 0.4px solid #cce6c1;
    }

#citacao
    {
    text-align: right;
    margin-left: 700px;
    margin-right: 75px;
    font-size: 14pt;
    font-weight: bold;
    }

.contato_e_imagem
    {
    display: flex;
    flex-flow: start;
    align-items: center;
    width: 100%;
    height:100%;
    list-style: none;
    }
#atendente_telefone
    {
    width: 100px;
    margin: 30px;
    }

#img_email
    {
    width: 100px;
    margin: 30px;
    }

#img_localizacao
    {
    width: 100px;
    margin: 30px;
    }

#img_horario_funcionamento
{
width: 100px;
margin: 30px;
}



body
    {
    animation: transitionIn 0.75s;
    }

@keyframes transitionIn   {
        from        {
        opacity: 0;
        transform: translateY(-50px);
        }
        to
        {
        opacity: 1;
        transform: translateY(0);
        }
    }

.return a
    {
    text-decoration: none;
    color: #000000;
    margin: 50px 75px;
    font-size: 22pt;
    font-family: Serif;

    }

.footer-elements
    {
    display:flex;
    flex-direction: column;
    }

hr
    {
    border: 0;
    border-top: 1px solid #094CFA;

     }
.contato_e_imagem a::before {
    content: "• ";  /* Insere a "bolinha" antes do texto do link */
    color: inherit; /* A cor da "bolinha" será a mesma do texto do link */
    font-size: 20pt;
    font-family: Serif;
}

.contato_e_imagem a {
    color: inherit;
    text-decoration: none;
    font-size: 20pt;
    font-family: Serif;
}

.contato_e_imagem a:hover {
    color: blue;
    font-size: 24pt;

}




