
#novo_background {
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Um valor alto de z-index para garantir que o cabeçalho fique acima de outros elementos */

}

#footer_background {
    background-color: #159957;
    background-image: linear-gradient(300deg, #155799, #159957);
    width: 100%;
    height: 150px;
    color: #FFFFFF; /* cor do texto */
    font-family: Arial, sans-serif; /* Tipo de fonte genérico; substitua pela fonte exata se necessário */
    font-size: 16px; /* Tamanho do texto; ajuste conforme necessário */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra do texto para efeito de relevo */
    text-transform: uppercase; /* Texto em maiúsculas */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    }

section-rafa
        {
          padding: 50px;
          margin: 50px 75px;
        }


.texto
        {
        text-align: justify;
        font-size: 22pt;
        font-family: Serif;
        margin: 50px 75px;
       }




p
        {
        text-align: justify;
        font-size: 22pt;
        font-family: Serif;
        margin: 50px 75px;
        }


h1, h2
        {
        text-align: justify;
        font-family: Serif;
        margin: 50px 75px;
        font-size: 32pt;
        }

h2
        {
        text-align: justify;
        font-family: Serif;
        margin: 50px 75px;
        font-size: 26pt;
        }

.img_moldura
        {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        border: 1px solid #1b6b6f;
        padding:1px;
        }

 .img_moldura_maior
        {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        border: 1px solid #1b6b6f;
        padding:1px;
        }



header
    {
    background: #b5dea6;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    height: 20%;
    opacity: 80%;
    }


main
    {
    margin-bottom: 200px;
    border-top: 0.4px solid #cce6c1;
    }

#citacao
    {
    text-align: right;
    margin-left: 700px;
    margin-right: 75px;
    font-size: 14pt;
    font-weight: bold;
    }

.contato_e_imagem
    {
    display: flex;
    flex-flow: start;
    align-items: center;
    width: 100%;
    height:100%;
    list-style: none;
    }
#atendente_telefone
    {
    width: 100px;
    margin: 30px;
    }

#img_email
    {
    width: 100px;
    margin: 30px;
    }

#img_localizacao
    {
    width: 100px;
    margin: 30px;
    }

#img_horario_funcionamento
{
width: 100px;
margin: 30px;
}



body
    {
    animation: transitionIn 0.75s;
    }

@keyframes transitionIn   {
        from        {
        opacity: 0;
        transform: translateY(-50px);
        }
        to
        {
        opacity: 1;
        transform: translateY(0);
        }
    }

.return a
    {
    text-decoration: none;
    color: #000000;
    margin: 50px 75px;
    font-size: 22pt;
    font-family: Serif;

    }

.footer-elements
    {
    display:flex;
    flex-direction: column;
    }

hr
    {
    border: 0;
    border-top: 1px solid #094CFA;

     }
.contato_e_imagem a::before {
    content: "• ";  /* Insere a "bolinha" antes do texto do link */
    color: inherit; /* A cor da "bolinha" será a mesma do texto do link */
    font-size: 20pt;
    font-family: Serif;
}

.contato_e_imagem a {
    color: inherit;
    text-decoration: none;
    font-size: 20pt;
    font-family: Serif;
}

.contato_e_imagem a:hover {
    color: blue;
    font-size: 24pt;

}



.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 80vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}

.box > span {
  font-size: 1.5vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover {
  flex: 1 1 100%;
}

.box:hover > img {
  width: 100%;
  height: 75%;
}
.iframe-youtube{
  position: relative;
  width: 100%;
  padding-bottom: 20%;
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.font-cinzel * {
    font-family: 'Cinzel', serif;
}

section.font-cinzel h2 + p::first-letter {
    font-size: 5em;
    float: left;
    margin-right: 0.1em;
    line-height: 0.9em;
    font-style: italic;
}

.geo-tools-center-title {
    text-align: center;
}

.geo-ambiental-wrapper {
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 10px;
}

.geo-info-section p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.geo-features-list {
    list-style-type: disc;
    margin-left: 20px;
}

.geo-access-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;

    /* Novo estilo de fundo para o botão */
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}

.geo-access-link:hover {
    /* Estilo de fundo para o botão quando o mouse está sobre ele */
    /* Você pode ajustar isso conforme necessário */
    background-color: #128849;
    background-image: linear-gradient(120deg, #104f72, #128849);
}



.carousel-container {
    width: 30%; /* ou o tamanho que você desejar */
    margin: auto; /* centraliza o carrossel */
    overflow: hidden; /* previne que imagens grandes estourem o layout */
}

.carousel-container .carousel-item {
    position: relative; /* Para posicionar a legenda se necessário */
    height: 500px; /* Define uma altura fixa para todos os itens do carrossel */
}

.carousel-container .carousel-item img {
    width: 100%; /* faz com que as imagens se ajustem à largura do contêiner */
    height: 500px; /* altura fixa para as imagens */
    object-fit: cover; /* corta a imagem para cobrir o espaço disponível sem distorção */
}

/* Ajustes responsivos para telas menores */
@media (max-width: 768px) {
    .carousel-container {
        width: 90%; /* O carrossel ocupa mais espaço em telas menores */
    }

    .carousel-container .carousel-item {
        height: 300px; /* Pode ajustar a altura para uma visualização melhor em telas menores */
    }

    .carousel-container .carousel-item img {
        height: 300px; /* altura correspondente para as imagens em telas menores */
    }
}


.img_moldura_img_localizacao {
    display: block;
    margin: auto;
    width: 900px; /* Define a largura da imagem */
    height: 900px; /* Define a altura da imagem para torná-la quadrada */
    border: 5px solid #1b6b6f; /* Ajusta a espessura da moldura */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
    background-color: #fff; /* Define uma cor de fundo para espaços vazios */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: adiciona uma sombra para um efeito mais atraente */
    padding: 1px; /* Mantém o espaçamento interno */
}


.divider {
  height: 1px; /* Ajuste a altura conforme necessário */
  width: auto; /* Ajuste a largura da linha divisória */
  background-color: #c8c8c8; /* A cor da linha */
  margin: 75px; /* Espaço ao redor da linha */

}

.footer-content {
margin-top: 50px;

    display: flex;
    flex-direction: column; /* Organiza o conteúdo em colunas */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
}


.secao-redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Ajuste conforme necessário */
}

.elementor-icon-list-items {
    list-style: none; /* Remove a estilização padrão da lista */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
    display: flex;
    justify-content: center; /* Centraliza os ícones na lista */
    gap: 20px; /* Espaçamento entre os ícones */
}

.elementor-icon-list-item {
    margin: 0 10px; /* Espaçamento horizontal entre ícones */
}

.elementor-icon-list-icon i {
    font-size: 24px; /* Tamanho dos ícones */
    color: #FFFFFF; /* Cor dos ícones */
}


